**/.vs/
**/*.csproj.user
packages/
**/packages.config

Bins/
Test/
*/bin/
*/obj/

*.DotSettings.user

ShaderBundleBuilder/Library/
ShaderBundleBuilder/Logs/
ShaderBundleBuilder/obj/
ShaderBundleBuilder/*.csproj
ShaderBundleBuilder/*.sln
ShaderBundleBuilder/.vscode/